<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- MS SQL Server 2008 -->
    <add key="mssqlDatabaseName" value="University" />
    <add key="mssqlDatabaseLocation" value="...\sqlexpress" />
    <!-- MS SQL Server 2008 -->
    <!-- MS Access -->
    <add key="accessDatabaseLocation" value="..\..\databases\" />
    <add key="accessDatabaseName" value="Library" />
    <add key="accessDatabaseExtention" value=".mdb" />
    <!-- <add key="accessDatabaseProvider" value="Microsoft.Jet.OLEDB.4.0" /> -->
    <!-- MS Access -->
    <!-- SQLite -->
    <add key="sqliteDatabaseLocation" value="..\..\databases\" />
    <add key="sqliteDatabaseName" value="Library" />
    <add key="sqliteDatabaseExtention" value=".sqlite" />
    <!-- <add key="accessDatabaseProvider" value="Microsoft.Jet.OLEDB.4.0" /> -->
    <!-- SQLite -->

  </appSettings>
</configuration>